body {
    background-color: #4E4E4E;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;
  }
  
  .login-form {
    width: 300px;
    margin: 0 auto;
    padding: 55px;
    background-color: rgba(255, 255, 255, 0.756);
    border: 0px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
  
  .login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    transform: translate(-0%, -0%);
  }
  
  .login-form button {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    top: 50%;
    left: 100%;
    transform: translate(+120%, -10%);
  }
  
  .login-form a {
    color: black;
    text-decoration: none;
  }
  p {
    text-align: center;
  }
  