/* General styling */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Header styling */
.headers {
  background-color: #D4F4FF;
  padding: 20px 0;
}

.header__image {
  position: relative;
  top: 0;
  left: 0;
}

.header__image img {
  width: 40%;
  height: 40%;
  float: left;
}

.header__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.btn {
  background-color: #fff;
  color: #030712;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
}


.btn:hover {
  background-color: #f2f2f2;
}
